.product_extension {
  width: 100%;
  height: 10vh;

  select {
    max-width: 100%;
    font-size: 30px;
    background-color: #eee;
    color: #000;
    border: #aaa solid var(--border-width);
    border-radius: var(--border-radius);
    padding: var(--margin-md);
    margin-bottom: 20px;
  }
}

@media (max-width: 700px) {

  .product_extension select {
    margin-top: var(--margin-md);
    font-size: var(--font-size-md);
  }

  .product_extension h3 {
    font-size: var(--font-size-md);
    margin-bottom: var(--margin-md);
  }
}